/* Write your CSS here */

.bg-container {
    background-color: #f1f5f8;
    background-size: cover;
    min-height: 100vh;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    color: #2d3a35;
    font-family: "Roboto";
    font-size: 28px;
}

.count {
    color: #c20a72;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
}

.text {
    color: #2d3a35;
    font-family: "Roboto";
    font-size: 14px;
}

.button {
    background-color: #007bff;
    color: #ffffff;
    border: 0px solid;
    border-radius: 12px;
    padding: 12px;
}